- if @comic.errors.any?
  %h2 The following errors prevented the comic from saving:
  %ul
    - @comic.errors.full_messages.each do |msg|
      %li= msg
= form_for @comic do |f|
  %p
    = f.label :Title
    %br/
    = f.text_field :title
  %p
    = f.label :Decrpition
    %br/
    = f.text_area :decrpition
  %p
    = f.label :By
    %br/
    =f.text_field :by
  %p
    = f.label :Is_it_in_a_siries_if_in_a_siries_which_one?
    %br/
    = f.text_field :siries
  %p
    = f.label :If_in_a_siries_what_number?
    %br/
    (If not in a siries put a zero.)
    = f.text_field :number
  %span.picture
    (THERE MUST BE A PICTURE!!!)
    = f.file_field :picture, accept: 'image/jpeg,image/gif,image/png'
  %p
    = f.submit
  :javascript
    $('#micropost_picture').bind('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
        alert('Maximum file size is 5MB. Please choose a smaller file.');
      }
    });
