%h1 Comics
%table
  %thead
    %tr
      %th Name
      %th Decrpition
      %th By
      %th Siries
      %th Number if in a Siries
      %th Picture
      %th Show
      - if user_signed_in?
        %th Edit
        %th Destroy
  %tbody
    - @comics.each do |comic|
      %tr
        %td= comic.title
        %td= comic.decrpition
        %td= comic.by
        %td= comic.siries
        %td= comic.number
        %td
          -  if comic.picture.attached?
            = image_tag comic.picture, class: "small"
        %td= link_to 'Show', comic
        - if user_signed_in?
          %td= link_to 'Edit', edit_comic_path(comic)
          %td= link_to 'Destroy', comic, method: :delete, data: { confirm: 'Are you sure?' }
%br/
- if user_signed_in?
  = link_to 'New', new_comic_path
%br/
= link_to "Back", root_path
